* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: var(--font-body);
    color: var(--body-text-color);
    background-color: var(--bg-body);
    font-weight: 300;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font-family: var(--font-headline);
    font-weight: 500;
    color: var(--body-text-color);
}

main {
    background: white;
    height: 500px;
}
