* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Typography */
    --font-headline: Arial, Helvetica, sans-serif;
    --font-body-text: Arial, Helvetica, sans-serif;
    /* Colors */
    --accent-primary: #00ff00;
    --accent-secondary: #00d5ff;
    --accent-secondary-dark: #006699;
    --background-light: #0037dc;
    --background-dark: #021c6a;
    --text-color-dark: #021c6a;
    --text-color-light: #ffffff;
    --headline-color-dark: #021c6a;
    --headline-color-light: #00ff00;
    --color-error: #ff0000;
    --color-failure: #ff0000;
    --color-success: #009900;
    --color-gray-d: #ddd;
    --color-gray-b: #00d5ff;
    --color-gray-6: #666;
    --white: #fff;
    --black: #000;
    --dark-blue: #001042;
    /* Standard = light */
    --backround-card: var(--accent-secondary);
    --background-color: var(--background-light);
    --text-color: var(--text-color-dark);
    --headline-color: var(--headline-color-dark);
}

html,
body {
    font-family: var(--font-body-text);
    color: var(--text-color);
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 300;
    line-height: 2;
}

body.dark {
    --backround-card: var(--dark-blue);
    --background-color: var(--background-dark);
    --text-color: var(--accent-secondary);
    --headline-color: var(--headline-color-light);
}

h1,
h2,
h3 {
    font-family: var(--font-headline);
    color: var(--headline-color);
}
h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}
h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
p {
    color: var(--text-color);
}

/* GRID */
section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    section {
        justify-items: center;
    }
}

/* MAIN PAGE AREAS */
header {
    background-color: var(--background-color);
    border-bottom: 1px solid var(--accent-secondary);
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    height: 80px;
}
main {
    align-items: stretch;
    padding: 40px 30px 120px 30px;
    height: auto;
}
section {
    margin: 0 0 30px 0;
}
footer {
    background-color: var(--background-color);
    border-top: 1px solid var(--accent-secondary);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
