* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-headline: Arial, Helvetica, sans-serif;
    --font-body-text: Arial, Helvetica, sans-serif;
    --background-lightmode: #ffffff;
    --background-darkmode: #000000;
    --text-color-lightmode: #000000;
    --text-color-darkmode: #ffffff;
    --headline-color-lightmode: #000000;
    --headline-color-darkmode: #ffffff;
    /* Standard = Light */
    --background-color: var(--background-lightmode);
    --text-color: var(--text-color-lightmode);
    --headline-color: var(--headline-color-lightmode);
}

html,
body {
    font-family: var(--font-body-text);
    color: var(--text-color);
    background-color: var(--background-color);
    background-image: url("../../assets/images/bg-mur-art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 300;
    line-height: 1.6;
}

body:has(#darkmode:checked) {
    --background-color: var(--background-darkmode);
    --text-color: var(--text-color-darkmode);
    --headline-color: var(--headline-color-darkmode);
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    margin: 0 auto;
    background: rgb(0 0 0 / 40%);
}

h1,
h2,
h3 {
    font-family: var(--font-headline);
    color: var(--headline-color);
}

h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

p {
    color: var(--text-color);
}

header {
    align-items: flex-start;
}
main {
    align-items: stretch;
    background: rgba(0, 0, 0, 0.1) 50%;
    padding: 30px 30px 120px 30px;
    height: auto;
}

section {
    margin: 0 0 30px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 430px;
}

.invert {
    filter: invert(1);
}
