* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Typography */
    --font-headline: Arial, Helvetica, sans-serif;
    --font-body-text: Arial, Helvetica, sans-serif;
    /* Colors */
    --accent-primary: #00ff00;
    --accent-secondary: #00d5ff;
    --accent-secondary-dark: #006699;
    --background-light: #ffffff;
    --background-dark: #000000;
    --text-color-dark: #000000;
    --text-color-light: #ffffff;
    --headline-color-dark: #000000;
    --headline-color-light: #ffffff;
    --color-error: #ff0000;
    --color-success: #009900;
    --color-gray-d: #ddd;
    --color-gray-b: #bbb;
    /* Standard = Light */
    --background-color: var(--background-light);
    --text-color: var(--text-color-dark);
    --headline-color: var(--headline-color-dark);
}

html,
body {
    font-family: var(--font-body-text);
    color: var(--text-color);
    background-color: var(--background-color);
    background-image: url("../../assets/images/bg-mur-art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 300;
    line-height: 1.6;
    scrollbar-gutter: stable;
}

body:has(#darkmode:checked) {
    --background-color: var(--background-darkmode);
    --text-color: var(--text-color-darkmode);
    --headline-color: var(--headline-color-darkmode);
}

h1,
h2,
h3 {
    font-family: var(--font-headline);
    color: var(--headline-color);
}
h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}
h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
p {
    color: var(--text-color);
}

/* APP WRAPPER */
.app {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    margin: 0 auto;
    background: rgb(0 0 0 / 40%);
}

/* MAIN PAGE AREAS */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    /* CSS GRADIENT FROM: https://cssgradient.io/ */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    height: 100px;
}
main {
    align-items: stretch;
    background: rgba(0, 0, 0, 0.1) 50%;
    padding: 30px 30px 120px 30px;
    height: auto;
}
section {
    margin: 0 0 30px 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 430px;
}

/* OTHER GLOBAL CLASSES */
.invert {
    filter: invert(1);
}
