* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-headline: Arial, Helvetica, sans-serif;
    --font-body-text: Arial, Helvetica, sans-serif;
    --body-text-color: #000;
    --headline-color: #fff;
}
html,
body {
    font-family: var(--font-body-text);
    color: var(--body-text-color);
    background-image: url("../../assets/images/bg-mur-art.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 300;
    line-height: 1.6;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    margin: 0 auto;
    background: rgb(0 0 0 / 40%);
}

.visually-hidden {
    visibility: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-headline);
    color: var(--headline-color);
}

h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

header {
    align-items: flex-start;
}
main {
    align-items: center;
    padding: 30px;
}

section.intro {
    margin: 30px 0 30px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 430px;
}
