/* UTILITY CLASSES */
strong {
    font-weight: 700;
}
.success {
    color: var(--color-success);
}

.failure {
    color: var(--color-failure);
}

.error {
    color: var(--color-error);
}

.hidden {
    display: none;
}
