/* BUTTON STANDARD */
.btn {
    background-color: var(--accent-secondary);
    border: 3px solid var(--accent-secondary);
    border-radius: 4px;
    color: var(--text-color);
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    padding: 3px 6px 3px 6px;
    font-size: 14px;
}

.btn:hover {
    border: 3px solid var(--accent-secondary-dark);
    color: var(--text-color);
}
.btn--false:active {
    background-color: var(--color-error);
    color: var(--text-color);
}
.btn--true:active {
    background-color: var(--color-success);
    color: var(--text-color-light);
}

/* BUTTON QUIZCARD */
.btn--quizcard {
    display: grid;
    align-items: center;
    margin: 5px;
}

/* BUTTON PILL */
.btn--pill {
    background-color: var(--color-gray-d);
    border: var(--color-gray-d);
    border-radius: 10px;
    font-size: 12px;
}
.btn--pill:hover {
    background-color: var(--color-gray-b);
    border: var(--color-gray-b);
}

/* BUTTON NAV */
.btn--nav {
    color: var(--accent-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.btn--nav:hover i,
.btn--nav:hover span {
    color: var(--accent-primary);
}
.btn--nav--active i,
.btn--nav--active span {
    color: var(--accent-primary);
}
.btn--nav__icon {
    margin-top: 10px;
    color: var(--accent-secondary);
    font-size: 44px;
    line-height: 1;
}
