.quiz {
    padding: 0 0 50px 0;
}

/* QUIZ_CARD */
.quiz-card {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: top left;
    box-shadow: 5px 5px 10px;
    margin: 0 0 30px 0;
}

/* QUIZ_CARD - TOP */
.quiz-card__top {
    position: relative;
    height: 150px;
    padding: 20px;
}
.quiz-card__question {
    background-color: white;
}

.quiz-card__number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: rgb(0, 255, 0);
}

.quiz-card__bookmark {
    position: absolute;
    top: -25px;
    right: 20px;
}
.quiz-card__bookmark i {
    font-size: 44px;
    color: white;
    margin-left: 20px;
}
.quiz-card__bookmark i:hover {
    font-size: 44px;
    color: #00ff00;
}
.quiz-card__bookmark {
    text-decoration: none;
}

/* QUIZ_CARD - BOTTOM */
.quiz-card__bottom {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0 20px 0 20px;
}

.quiz-card__question {
    align-content: center;
    color: #000;
    height: 80px;
    font-weight: 700;
}
.quiz-card__choice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 330px;
}
.quiz-card__choice a {
    display: grid;
    align-items: center;
    background-color: #1089e0;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    border: 1px solid #1089e0;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
}
.quiz-card__btn:hover {
    background-color: #052e5e;
    color: #fff;
}
.quiz-card__btn--false:active {
    background-color: #ff0000;
    color: #fff;
}
.quiz-card__btn--true:active {
    background-color: #097809;
    color: #fff;
}

.quiz-card__hashtags {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
}
.quiz-card__pill {
    display: flex;
    background-color: #c1e4e7;
    border: #4b4b4b;
    border-radius: 10px;
    color: black;
    font-size: 12px;
    line-height: 1.2;
    padding: 5px 10px 5px 10px;
    align-items: center;
    display: inline-flex;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 10px 0 0;
}
.quiz-card__pill:hover {
    background-color: #3a6679;
    color: rgb(0, 255, 0);
}

/* QUIZ-CARD BG IMAGES */
.quiz-card--q01 {
    background-image: url("../../../assets/images/mural-01-victor-ash.jpg");
}
.quiz-card--q02 {
    background-image: url("../../../assets/images/mural-02-herakut.jpg");
}
