.quiz {
    padding: 0 0 50px 0;
}

/* QUIZ_CARD */
.quizcard {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: top left;
    margin: 0 0 30px 0;
}

/* QUIZ_CARD - TOP */
.quizcard__top {
    position: relative;
    height: 150px;
    padding: 20px;
}

.quizcard__number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--accent-primary);
}

.quizcard__bookmark {
    position: absolute;
    top: -25px;
    right: 20px;
}
.quizcard__bookmark i {
    font-size: 44px;
    color: white;
    margin-left: 20px;
}
.quizcard__bookmark--active i {
    font-size: 44px;
    color: var(--accent-primary);
}
.quizcard__bookmark i:hover {
    font-size: 44px;
    color: var(--accent-primary);
}
.quizcard__bookmark {
    text-decoration: none;
}

/* QUIZ_CARD - BOTTOM */
.quizcard__bottom {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 0 20px 0 20px;
}

.quizcard__question {
    align-content: center;
    color: var(--text-color);
    height: 80px;
    font-weight: 700;
}
.quizcard__choice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.quizcard__hashtags {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
}

/* quizcard BG IMAGES */
.quizcard--q01 {
    background-image: url("../../../assets/images/mural-01-victor-ash.jpg");
}
.quizcard--q02 {
    background-image: url("../../../assets/images/mural-02-herakut.jpg");
}
