.card {
    border-radius: 16px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .card {
        width: 100%;
        max-width: 520px;
    }
}

/* QUIZ CARD */
.card__choice {
    padding: 0 12px 12px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.card__answer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 180px;
    padding: 0 15px 0 15px;
}
.card__feedback-image {
    margin-top: -150px;
    z-index: 5;
    animation: animateImg 0.5s ease-in-out 1;
}
@keyframes animateImg {
    0% {
        scale: 0.4;
    }
    40% {
        scale: 1.3;
    }
    100% {
        scale: 1;
    }
}

.card__top {
    border: 10px solid #fff;
    position: relative;
    aspect-ratio: 4 / 2.5;
}
.card__feedback {
    font-weight: 700;
    text-transform: uppercase;
    border: 3px dotted #ccc;
    border-radius: 15px;
    padding: 5px 10px;
}
.card__top::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    pointer-events: none;
}
.card__top img {
    border-radius: 10px;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card__tags {
    padding: 10px 12px 10px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.card__question {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 5px;
    z-index: 1;
    margin: 0;
    color: var(--text-color-light);
    padding: 6px 8px;
    border-radius: 8px;
}

/* PROFILE CARD */
.card--profile {
    background: var(--backround-white);
    padding: 10px 20px;
}
.card--profile p,
.card--profile h2,
.card--profile h3,
.card--profile i {
    color: var(--text-color);
    margin: 5px 0 5px 0;
}
.card--profile number {
    font-weight: 700;
}
.card__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.card__image {
    border-radius: 50%;
    border: 1px solid var(--text-color);
}
.card__details {
    padding: 10px 0;
    border-top: 1px solid var(--color-gray-6);
}

/* FORM CARD */
.card--form {
    background: var(--backround-white);
    padding: 10px 20px;
}
.card--form p,
.card--form h2,
.card--form h3,
.card--form i {
    color: var(--text-color);
    margin: 5px 0 5px 0;
}
.card--form number {
    font-weight: 700;
}
.card__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    gap: 20px;
}
.card__title i {
    color: var(--text-color);
    font-size: 40px;
}
.card__image {
    border-radius: 50%;
    border: 1px solid var(--text-color);
}
.card__form {
    padding: 10px 0;
}
