form {
    display: flex;
    flex-direction: column;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

legend {
    border-radius: 15px;
    background-color: black;
    color: var(--accent-secondary);
    padding: 3px 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.hint {
    font-size: 12px;
}
.info-group {
    display: flex;
    gap: 10px;
}
.icon-info {
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
}
input[type="text"] {
    padding: 5px;
    width: 100%;
}

textarea {
    padding: 5px;
    width: 100%;
    height: 5em;
}
