form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.hint {
    font-size: 12px;
}
.info-group {
    display: flex;
    gap: 10px;
}
.icon-info {
    font-size: 20px;
}
input[type="text"] {
    padding: 5px;
    width: 100%;
}

textarea {
    padding: 5px;
    width: 100%;
    height: 5em;
}
