header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    /* CSS GRADIENT FROM: https://cssgradient.io/ */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    height: 100px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.logo__image {
    padding: 10px 0 0 0;
}
.logo__claim {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: var(--text-color);
}
.logo__claim h2 {
    font-size: 18px;
    padding: 5px;
}
