/* LOGO STYLES */
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo__image {
    padding: 10px 0 0 0;
}
.logo__claim {
    padding: 5px;
    border-top: 1px solid var(--color-gray-b);
    border-bottom: 1px solid var(--color-gray-b);
    color: var(--text-color);
}
.logo__claim-text {
    font-size: 18px;
    padding: 5px;
}
