/* LOGO STYLES */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.logo__image {
    padding: 10px 0 0 0;
}
.logo__claim {
    background: var(--black);
    padding: 7px 20px;
    border: 1px solid var(--accent-secondary);
    border-radius: 10px;
    /* border-top: 1px solid var(--color-gray-b);
    border-bottom: 1px solid var(--color-gray-b); */
}

.logo__claim-text {
    color: var(--accent-secondary);
    font-size: 16px;
}
