header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background: black;
    height: 100px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo__image {
    display: flex;
    padding: 10px 0 0 0;
}
.logo__claim {
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: white;
    padding: 10px 0 0 0;
}
