.navigation {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 1) 100%);
}
.navigation__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navigation__list-item a {
    color: #00d5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.navigation__icon {
    color: #00d5ff;
    font-size: 44px;
    line-height: 1;
}
.navigation__list-item--active i,
.navigation__list-item--active span {
    color: #00ff00;
}

.navigation__list-item a:hover i,
.navigation__list-item a:hover span {
    color: #00ff00;
}
