.navigation {
    background: black;
    border-top: 1px solid var(--color-gray-b);
}
.navigation__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navigation__list-item {
    padding: 10px 0 10px 0;
}
