.navigation {
    /* border-top: 1px solid var(--color-gray-b); */
}
.navigation__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navigation__list-item {
    padding: 5px 0 5px 0;
}

/* BUTTON NAV */
.navigation__link {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.navigation__link i,
.navigation__link span {
    color: var(--accent-secondary);
}
.navigation__link i {
    font-size: 30px;
    line-height: 1;
}
.navigation__link span {
    font-size: 18px;
    line-height: 1;
    margin-top: 5px;
}
.navigation__link:hover i,
.navigation__link:hover span {
    color: var(--accent-primary);
}
.navigation__link--active i,
.navigation__link--active span {
    color: var(--accent-primary);
}
