.profile {
    background: var(--backround-white);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0;
}
.profile p,
.profile h2,
.profile h3,
.profile i {
    color: var(--text-color);
    margin: 5px 0 5px 0;
}
.profile__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.profile__image {
    border-radius: 50%;
    border: 1px solid var(--text-color);
}
.profile__details {
    padding: 10px 0;
    border-top: 1px solid var(--color-gray-6);
}
